.wiki-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.wiki-content h1.judul {
    font-size: 2em;
    margin-bottom: 10px;
}

.wiki-content .metadata {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 20px;
}

.wiki-content .content {
    font-size: 1.2em;
}

.wiki-content .content p {
    margin-bottom: 15px;
}

.wiki-content .content li {
    margin-bottom: 5px;
}
.form-container {
    margin-top: 40px;
}

.input-message {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.submit-button:hover {
    background-color: #0056b3;
}
.submit-button2 {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 50px;
}

